################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/MDERP.Database/obj/Debug
/MDERP.Database/MDERP.Database.dbmdl
/MDERP.Database/.vs/MDERP.Database/v17/.suo
/MDERP.Database/.vs/MDERP.Database/FileContentIndex/f5132356-37ec-4958-a567-04a0f766b5c2.vsidx
/MDERP.Database/.vs/MDERP.Database/FileContentIndex/f3345de3-6f71-4e5c-ab1a-8188b98bd6b8.vsidx
/MDERP.Database/.vs/MDERP.Database/FileContentIndex/cfecf702-7e12-4d82-b2b8-5fecba23f16a.vsidx
/MDERP.Database/.vs/MDERP.Database/FileContentIndex/47263788-c4af-4018-898d-e1f9327fa557.vsidx
/.vs
/MDERP.Web.API/obj
/MDERP.Web.API/.vs/MDERP.Web.API
/MDERP.Database/.vs/MDERP.Database/FileContentIndex
/MDERP.Web.API/bin/Debug/net6.0
/MDERP.Business.IRepository/bin/Debug/net6.0
/MDERP.Business.IRepository/obj
/MDERP.Business.Models/bin/Debug/net6.0
/MDERP.Business.Models/obj
/MDERP.Business.Extensions/obj
/MDERP.Business.IService/obj
/MDERP.Business.Repository/obj
/MDERP.Common/obj
/MDERP.Business.Service/bin/Debug/net6.0
/MDERP.Business.Service/obj
