################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/MDERP.Database/obj/Debug
/MDERP.Database/MDERP.Database.dbmdl
/MDERP.Database/.vs/MDERP.Database/v17/.suo
